.container {
    max-width: 70%;
    margin: 30px auto;
    overflow: auto;
    min-height: 300px;
    border: 2px solid chartreuse;
    padding: 30px;
    border-radius: 10px;
}

.tasks-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

}

.tasks-container, h2{
    color: white;

}


.todo-container, .done-container{
    text-align: center;
    width: 50%;
    display: flex;
    flex-direction: column;
    border: 1px solid chartreuse;
    border-radius: 5px;
    margin: 0px 5px;

}